@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Sixtyfour+Convergence&display=swap');

* {
    font-family: protest strike;
}

.myHeader {
    background-color: black;
    padding: 10px;
    width: 200px;
    text-align: left;
    color: white;
    position: fixed;
    top: 0;
    left: -200px;
   
    bottom: 0;
    display: flex;
    flex-direction: column;
   
    justify-content: flex-start;
    align-items: center;
    z-index: 101;
    transition: left 0.3s ease;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.myHeader.visible {
    left: 0;    
}

.myHeader .user-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.links {
    padding-top: 120px;
    display: flex;
    flex-direction: column;    
    gap: 100px;
}

.links a {
    text-decoration: none;
    color: lightgray;
    font-size: 20px;
}

.links a:hover {
    color: gray;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: gray;
    margin-bottom: 20px;
    padding-left: 10px;
}

.toggleButton {
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 101;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: left 0.3s ease;
    font-size: 20px;     
}


.myHeader.visible + .toggleButton {   
    left: 100px;
}

.myBody {
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
}

.myFooter {
    background-color: gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: small;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
    align-items: center;

}

.phone,
a {
    font-size: small;
    text-decoration: none;
}

.backToTopBtn {
    position: fixed;
    bottom: 200px;
    right: 20px;
    border: none;
    cursor: pointer;
    z-index: 100;
    background-color: transparent;
}

.search {
    width: 50%;
    padding-left: 10px;
}

.search button {
    background-color: gray !important;
    color: black !important;
    border: none !important;
    transition: background-color 0.3s ease, color 0.3s ease !important     ;
}

.search button:hover {
    background-color: black !important;
    color: white !important;
}
.addPost{
    padding-bottom: 30px;
}
.addPost button {
    background-color: black;
    color: gray;
    box-shadow: gray 0.1em 0.1em 0.2em;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.addPost button:hover {
    background-color: gray !important;
    color: black !important;
    box-shadow: black 0.1em 0.1em 0.2em;
}

.myTools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-left: 20px;    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background-color: black;
}

.myTools .search button {
    background-color: black;
    box-shadow: gray 0.1em 0.1em 0.2em;
}

.sort {
    display: flex;
    justify-content: space-between;
}

.sortBtn {
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: gray;
    transition: color 0.3s ease;
    box-shadow: gray 0.1em 0.1em 0.2em;
}

.sortBtn.active {
    color: black;

    background-color: gray !important;
}

.sortBtn:hover {
    background-color: gray !important;
    color: black !important;
    box-shadow: black 0.1em 0.1em 0.2em;
}

.user-avatar {
    object-fit: cover;
}

.ant-modal-body form {
    padding: 20px;
}