.postGrid {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #222831;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    padding-left: 0;
    padding-right: 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #9B3922;
    transform: scale(1.05);
}


.card img {
    width: 450px;
    height: 450px;
    max-width: fit-content;
    object-fit: fill;
    border-radius: 10px;
    padding: 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
}

.card-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.card-details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: gray;
}

/* Single Card  */

.singleCardContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.singleCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #222831;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.1s ease-in-out;
}

.singleCard img {
    width: 500px;
    height: 500px;
    object-fit: fill;
    max-width: fit-content;
    border-radius: 10px;
}

.singleCard-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.singleCard-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.singleCard-details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: gray;
}

.feedbackBtn {
    background-color: gray;
    color: lightgray;
}

.feedbackBtn:hover {
    background-color: #9B3922 !important;
}

.backBtn {
    background-color: transparent !important;
    border: none;
}

.backBtn:hover {
    color: #9B3922 !important;
}

.feedbackContainer {
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: lightgray !important;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #222831;
    width: 90%;
}

.feedbackContainer textarea {
    background-color: #222831 !important;
    border-color: lightgray !important;
    color: gray !important;
}

.feedbackContainer textarea ::placeholder {
    color: lightgray !important;
}
.rating{
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.submittedFeedbacks {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: gray;
    max-width: 90%;
    padding: 20px;

    border-radius: 10px;
}
