.postGrid {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    padding-left: 0;
    padding-right: 0;
}

.card:hover {
    -webkit-box-shadow: 0 0 15px #9B3922;
    box-shadow: 0 0 15px #9B3922;
    transform: scale(1.05);
}


.card img {
    width: 450px;
    height: 450px;
    max-width: fit-content;
    object-fit: fill;
    border-radius: 10px;
    padding: 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
}

.card-details h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #9B3922 ;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.card-details .genre {
    color: gray !important;
}

.card-details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: lightgray;
}

/* Single Card  */

.singleCardContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.singleCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.1s ease-in-out;
}

.singleCard img {
    width: 500px;
    height: 500px;
    object-fit: fill;
    max-width: fit-content;
    border-radius: 10px;
}

.singleCard-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.singleCard-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.singleCard-details .genre {
    color: gray !important;
}

.singleCard-details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: lightgray;
}

.feedbackBtn {
    background-color: gray;
    color: lightgray;
}

.feedbackBtn:hover {
    background-color: #9B3922 !important;
    color: #222831 !important;
}

.backBtn {
    background-color: transparent !important;
    border: none;
}

.backBtn:hover {
    color: #9B3922 !important;
}
.feedbackNotice{
    color: lightgray !important;
    border: gray 1px solid;
    border-radius: 14px;
    padding: 20px;
   
    background-color: rgba(0, 0, 0, 0.9);
}
.feedbackContainer {
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: lightgray !important;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 90%;
}
.singleCardContainer .singleCard  h1{
    color: #9B3922 !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}
.feedbackContainer textarea {
    background-color: #222831 !important;
    border-color: lightgray !important;
    color: gray !important;
}

.feedbackContainer textarea ::placeholder {
    color: lightgray !important;
}

.rating {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.feedbackContainer textarea::placeholder {
    color: gray !important;

}

.submittedFeedbacks {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: gray;
    max-width: 90%;
    padding: 20px;
    border-radius: 10px;
}

/* create post */
.createPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.createPostContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: #222831;
    padding: 20px;
    border-radius: 10px;
    color: lightgray;
    width: 90%;
    gap: 20px;
}

.createPostContainer h1 {
    color: white;
    margin-bottom: 20px;
}

.createPostContainer input,
.createPostContainer textarea {
    background-color: #222831;
    border: 1px solid lightgray;
    color: lightgray;
    width: 50%;
    padding: 20px;

}

.createPostContainer input::placeholder,
.createPostContainer textarea::placeholder {
    color: lightgray;
}

.createPostBtn {
    background-color: gray;
    color: lightgray;
}

.createPostBtn:hover {
    background-color: #9B3922 !important;
    color: #222831 !important;
}

.createPost .backBtn {
    background-color: transparent !important;
    border: none;
}

.createPost.backBtn:hover {
    color: #9B3922 !important;
}

.createPost .buttons {
    display: flex;
    gap: 10px;
}